<!DOCTYPE html>
<html>
  <head>
    <title>Lista de Requisições</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('../partials/head');%>
  </head>
  <body>
    <header>
      <%- include('../partials/header');%>
    </header>
    <% 
    %>
    <h1>Sistema Interno de Sugestões Online</h1>
    <div class="div-requester">
      <form method="post" action="/sendToQueue">
        <label class="label-requester" for="requester">Setor de destino:</label><br>
        <select class="input-requester dropdown-sector" name="destination">
          <option value="qualidade">Qualidade</option>
          <option value="impressao">Impressão</option>
          <option value="extrusao">Extrusão</option>
          <option value="rh">RH</option>
          <option value="ti">Tecnologia da Informação</option>
        </select><br>
        <label class="label-requester" for="msgRequester">Mensagem:</label><br>
        <textarea name="msg" id="msgRequester" rows="3" cols="50"></textarea><br>
        <input class="input-button-requester" type="submit" value="Enviar">
      </form>   
    </div>
    
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
